<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Object report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Report for object <span th:text="${data.objectName}"/></h1>
<h2>Peroid: <span th:text="${data.from}"/> - <span th:text="${data.to}"/></h2>
<h3>Number of days that the object was reserved: <span th:text="${data.reservationDays}"/></h3>
<h3>Number of times that the object was reserved: <span th:text="${data.reservationCount}"/></h3>
</body>
</html>
