<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Oops! Something went wrong</h1>
<h2>Please make sure you provided all the necessary params for your report:</h2>
<h3>For object report:</h3>
<ul>
    <li><b>object</b>,</li>
    <li><b>from</b> in YYYY-MM-DD format,</li>
    <li><b>to</b> in YYYY-MM-DD format.</li>
</ul>
<h3>For landlords report:</h3>
<ul>
    <li><b>from</b> in YYYY-MM-DD format,</li>
    <li><b>to</b> in YYYY-MM-DD format.</li>
</ul>
</body>
</html>
